//VARIABLES

.left 
	float left

.right
	float right



//CODIGO CSS
body
	margin 0
	padding 0

header
	width 100%
	pading 10px
	background-color #D50D0D
	color #EEE
	text-align center
	overflow hidden

	.titulo
		display inline-block
	
	figure
		border 1px dotted black
		border-radius 50%
		height 52px
		width 52px

nav
	float left
	width 150px

	ul
		li
			border 1px solid #DEDFD9
			width 100%
			list-style none
			
			a
				text-decoration none



