.left {
  float: left;
}
.right {
  float: right;
}
header {
  background-color: #d50d0d;
  color: #eee;
  overflow: hidden;
  pading: 10px;
  width: 100%;
}
header h1 {
  border-left: 2px solid rgba(255,255,255,0.6);
  float: left;
  font-size: 18px;
  height: 65px;
  margin: 5px 0 0 10px;
  padding: 10px 0 0 15px;
  top: 0;
}
header .titulo {
  display: inline-block;
}
header figure {
  border: 1px dotted #000;
  border-radius: 50%;
  height: 52px;
  margin: 10px;
  width: 52px;
}
nav ul li {
  border: 1px solid #dedfd9;
  list-style: none;
  overflow: hidden;
  text-align: center;
  width: 100%;
}
nav ul li a {
  text-decoration: none;
}
